body {
    font-family: sans-serif;
    color: whitesmoke;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    width: 200px;
    max-width: 400px;
    padding: .8rem .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: .4rem;
    background-color: lightgreen;
    color: darkslategrey;
    box-shadow: 0 4px 0 0 darkcyan;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: black;
    color: whitesmoke;
}
