* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    height: 100vh;
    color: whitesmoke;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.apachurra {
    padding: .5rem 1rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: darkslateblue;
    background-color: lightgreen;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.apachurra:hover {
    background-color: black;
    color: whitesmoke;
    transform: scale(1.1);
}

.apachurra:active {
    transform: scale(.9);
}
